@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root, .dark {
    --background: 0 0% 12%;
    --foreground: 0 0% 80%;
    --card: 0 0% 15%;
    --card-foreground: 0 0% 80%;
    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 80%;
    --primary: 210 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 80%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 60%;
    --accent: 0 0% 20%;
    --accent-foreground: 0 0% 80%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 210 100% 50%;
    --radius: 0rem;
    color-scheme: dark;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-mono antialiased;
  }
}
